# Key Files, secrets et al
config.yaml
# Exclude systemd service files
/etc/systemd/system/gabblegrid.service
/etc/systemd/system/gabblegrid-dev.service

# Exclude Nginx configuration files
/etc/nginx/sites-available/default
/etc/nginx/sites-available/dev.gabblegrid.com

# Exclude private keys
utils/api_keys_private.py

# skip all key untracked files
project/00.key_untracked_files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
*.manifest
*.spec

# Logs
logs/
*.log

# Environment variables
.env

# Python virtual environment
venv/
.venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Exclude PyTorch model files
*.pt
*.pth

# Exclude cache directories
.cache/
tmp/
temp/
*.db
project/.cache/

# Exclude IDE and editor config files
.vscode/
.idea/
*.iml

# Exclude specific large files
01.BGL.log_structured.csv

# Exclude specific folders related to your project
00.Full_Project_Backups/
01.Local_Model_Files/
04.Local_Other_Files/
05.Local_Results_Tracker/
95.Admin/
96.Original_Code
96.Original_Data
97.Archive/
94.Project_Transcript/
03.Local_Inference_Eval_Files/
project/playground_beta/01.Experiments/



# Node.js dependencies (if applicable)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build artifacts (for any compiled projects)
build/
dist/

# Exclude database dumps
*.sql
*.sqlite

# Exclude generated reports or output
reports/
output/

