<!DOCTYPE html>
<html>
<head>
    <title>Log Anomaly Detection</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('log_update', function(data) {
            var logDiv = document.getElementById('log');
            logDiv.innerHTML += '<p>' + data.message + '</p>';
        });

        function submitForm() {
            var start_time = document.getElementById('start_time').value;
            var num_tests = document.getElementById('num_tests').value;
            socket.emit('run_inference', {start_time: start_time, num_tests: num_tests});
        }
    </script>
</head>
<body>
    <h1>Log Anomaly Detection</h1>
    <form onsubmit="submitForm(); return false;">
        <label for="start_time">Start Time:</label>
        <input type="text" id="start_time" name="start_time" required><br><br>
        <label for="num_tests">Number of Tests:</label>
        <input type="number" id="num_tests" name="num_tests" required><br><br>
        <input type="submit" value="Run Inference">
    </form>
    <div id="log"></div>
</body>
</html>
